<section id="services">
  <div class="container" data-aos="fade-up">

    <header class="section-header wow fadeInUp">
      <h3>CONTEÚDO SOBRE TECNOLOGIA E GESTÃO </h3>
      <p>Artigos, tendências, tutoriais e muita informação para você ficar atualizado e progredir na sua carreira</p>
    </header>

  
    <div class="row">
      <div  class="col col-lg-12" >  
        <form>
          <input
             #buscaDescricao
              class="rounded"
              type="search"
              placeholder="Buscar..."
              autofocus
              (keyup)="filter = buscaDescricao.value"
          >
      </form>
      </div>
  </div>

  <app-post-lista  > </app-post-lista>


  </div>
  <div class="row justify-content-center">
    <div class="col-md-auto col-lg-auto">
      <a class="btn btn-outline-secondary prev mt-3 mb-3"  title="go back" (click)="retornarPagina()"><i class="bi bi-chevron-left" ></i></a>
      {{paginaAtual}} de {{paginaTotal}}
      <a class="btn btn-outline-secondary prev mt-3 mb-3"  title="go back" (click)="avancarPagina()"><i class="bi bi-chevron-right" ></i></a>
    </div>
  </div>
</section>